<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <ul class="bd-footer-links">
<li><a href="https://cruelcoulter.com/">CruelCoulter Home</a></li>
<li><a href="https://cruelcoulter.com/family/">Family History</a></li>
<li><a href="https://cruelcoulter.com/civilwar/">Civil War</a></li>
<li><a href="https://cruelcoulter.com/blog/">Blog</a></li>
<li><a href="https://cruelcoulter.com/blog/feedback/">Feedback</a></li>
<li><a target="_blank" href="https://www.goodreads.com/user/show/3452002-ron-coulter"><i class="fab fa-goodreads fa-lg"></a></i></li>
<li><a target="_blank" href="https://github.com/cruelcoulter"><i class="fab fa-github-square fa-lg"></i></a></li>
<li><a target="_blank" href="https://twitter.com/cruelcoulter"><i class="fab fa-twitter-square fa-lg"></i></a></li>
</ul>

    </span>
  </div>
</footer>